.menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
    padding: 36px;
    color: #ebece6;
    white-space: normal;
    overflow: visible;
}

.menuItem {
    font-size: 7vw; /* 뷰포트 너비의 7% */
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: -10%;
    word-wrap: break-word;
}

.menuItem:last-child {
    margin-bottom: 0;
}

.menuItem:hover,
.selectedMenuItem {
    opacity: 0.7;
    color: #ebece6;
}

@media (max-width: 768px) {
    .menu {
        padding: 20px;
    }

    .menuItem {
        font-size: 8vw; /* 모바일에서는 뷰포트 너비의 8% */
        margin-bottom: -5%;
    }
}

@media (min-width: 1200px) {
    .menuItem {
        font-size: 84px; /* 큰 화면에서는 최대 크기 제한 */
    }
}
