.menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    padding: 16px;
    color: #ebece6;
    white-space: normal;
    overflow: visible;
}

.menuItem {
    font-size: 64px;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-bottom: 16px;
    line-height: 1;
    word-wrap: break-word;
}

.menuItem:last-child {
    margin-bottom: 0;
}

.menuItem:hover,
.selectedMenuItem {
    opacity: 0.7;
    color: #ebece6;
}

@media (max-width: 768px) {
    .menu {
        padding: 0;
        justify-content: flex-end;
        height: auto;
    }

    .menuItem {
        font-size: 24px;
        text-align: left;
        padding-bottom: 16px;
    }

    .selectedMenuItem {
        display: block !important;
    }
}
